<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input 
              [(ngModel)]="model.email"
              type="email" 
              name="email" 
              required
              #email="ngModel"
              [class.is-invalid]="email.invalid && (email.touched || email.dirty)"
              class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Email address</label>
            <div *ngIf="email.invalid && (email.touched || email.dirty)" class="invalid-feedback">
              <div *ngIf="email.errors?.required">Email is required!</div>
            </div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input 
              [(ngModel)]="model.password"
              type="password" 
              name="password" 
              required
              minlength="4"
              #password="ngModel"
              [class.is-invalid]="password.invalid && (password.touched || password.dirty)"
              class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Password</label>
            <div *ngIf="password.invalid && (password.touched || password.dirty)" class="invalid-feedback">
              <div *ngIf="password.errors?.required">Password is required!</div>
              <div *ngIf="password.errors?.minlength">Password must be at least 4 characters long!</div>
            </div>
          </div>

          <!-- Submit button -->
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          <a *ngIf="loggedIn" [ngClass]="loggedIn === 'valid' ? 'btn btn-success btn-lg btn-block' : 'btn btn-danger btn-lg btn-block'" href="#!" role="button">{{ loggedIn === 'valid' ? 'You are logged in' : 'Email or Password is wrong!' }}</a>

        </form>
      </div>
    </div>
  </div>
</section>