<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input 
              [(ngModel)]="model.email"
              type="email" 
              name="email" 
              required
              #email="ngModel"
              [class.is-invalid]="email.invalid && (email.touched || email.dirty)"
              class="form-control form-control-lg" />
            <label class="form-label" for="form1Example13">Email address</label>
            <div class="invalid-feedback">Email is required!</div>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input 
              [(ngModel)]="model.password"
              type="password" 
              name="password" 
              required
              #password="ngModel"
              [class.is-invalid]="password.invalid && (password.touched || password.dirty)"
              class="form-control form-control-lg" />
            <label class="form-label" for="form1Example23">Password</label>
            <div class="invalid-feedback">Password is required!</div>
          </div>

          <!-- Submit button -->
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          <div *ngIf="loggedIn && loggedIn === 'valid'">
            <ul *ngFor="let user of users">
              <li>{{user.name}}</li>
              <li>{{user.gender}}</li>
              <li>{{user.email}}</li>
              <li>{{user.city}}</li>
            </ul>
          </div>

          <a *ngIf="loggedIn" [ngClass]="loggedIn === 'valid' ? 'btn btn-success btn-lg btn-block' : 'btn btn-danger btn-lg btn-block'" href="#!" role="button">{{ loggedIn === 'valid' ? 'You are logged in' : 'Email or Password is wrong!' }}</a>

        </form>
      </div>
    </div>
  </div>
</section>

<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerForm" (ngSubmit)="register()">

                <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                  <h6 class="mb-0 me-4 mr-3">Gender: </h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="gender"
                      id="femaleGender"
                      value="female"
                    />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="gender"
                      id="maleGender"
                      value="male"
                    />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input
                      class="form-check-input"
                      type="radio"
                      formControlName="gender"
                      id="otherGender"
                      value="other"
                    />
                    <label class="form-check-label" for="otherGender">Other</label>
                  </div>

                </div>

                <app-text-input [formControl]="registerForm.controls['name']" [label]="'Name'" [type]="'text'"></app-text-input>
                <app-text-input [formControl]="registerForm.controls['email']" [label]="'Email'" [type]="'email'"></app-text-input>
                <app-text-input [formControl]="registerForm.controls['city']" [label]="'City'" [type]="'text'"></app-text-input>
                <app-text-input [formControl]="registerForm.controls['country']" [label]="'Country'" [type]="'text'"></app-text-input>
                <app-date-input [formControl]="registerForm.controls['dateOfBirth']" [label]="'Date of birth'" [maxDate]="maxDate"></app-date-input>
                <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
                <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'" [type]="'password'"></app-text-input>

                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>